<div class="flex justify-between items-center bg-gray-100 py-5 px-6 rounded-lg">
    <button [routerLink]="['/home']" class="text-[1.7rem] text-gray-900">Idea Up</button>

    <div class="flex gap-3">
    <button mat-button [routerLink]="['/my-ideas']" routerLinkActive="active-page" class="custom-icon-button !bg-white">My Ideas</button>
    <button mat-button  class="custom-icon-button !bg-white">Favourites</button>
    <button mat-button class="custom-icon-button !bg-white">Account</button>
    </div>
</div>